{% extends 'base.html' %}

{% block content%}
<div class="table-responsive">
<table class="table">
    <tr>
        <td><b>Device Name</b></td>
            <td><b>Device IP</b></td>

    </tr>
    <tr>
        {% for i in data %}
        <tr>
            <td>{{i.devicename}}</td>
            <td>{{i.Device_Number}}</td>
    <td><button><a href ="/devices/editdevice?uid={{i.uid}}">Update</a></button></td>
    <td><button><a href ="/devices/deletedevice?uid={{i.uid}}">Delete</a></button></td>
    <td><button><a href ="/devices/connect">Test Connection</a></button></td>
        {% endfor %}
    </tr>
</table>
</div>
{% endblock%}