alembic==0.7.6
amqp==1.4.6
celery
coverage
cssmin

Flask
Flask-Admin
Flask-Assets
Flask-Bcrypt
Flask-Cache
Flask-Celery-Helper
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
flask-mongoengine
Flask-OAuth
Flask-OpenID
Flask-Principal
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Jinja2
jsmin1
mongoengine
python-openid
selenium
SQLAlchemy
uWSGI
webassets
Werkzeug
WTForms
