{% extends 'base.html' %}

{% block content %}
<div>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
        </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}</div>

  <br/>
<div class="table-responsive">

<!--<div class="top-pad">-->
            <form
        method="POST"
        action="/trucks/createtruck"
        role="form">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn" type="submit">Submit</button>
        </form>
<div><a href = "/trucks/showtruck">Back</a></div>


</div>
{% endblock %}

